{% extends "Layout/base.html" %}

{% block title %}categoria - FinanzApp{% endblock %}

{% block content %}
<!-- Button trigger modal -->
<div class="d-flex justify-content-end mb-3">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="bi bi-plus-circle me-2"></i>
    Registrar Categoria
  </button>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva categoria</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/crearcategoria" method="post">
        <div class="modal-body">

          <div class="mb-3">
            <label for="description" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required="">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="description" name="descripcion" required="">
          </div>


        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-striped table-success dataTable" id="dataTable">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for categoria in categoria %}
        <tr>
          <th scope="row">{{categoria.id}}</th>
          <td>{{categoria.nombre}}</td>
          <td>{{categoria.descripcion}}</td>
          <td>
            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-default{{categoria.id}}">
              <i class="fas fa-pencil-alt"></i> Editar
            </a>
          </td>
        </tr>
        {% endfor %}


      </tbody>
    </table>
  </div>
</div>
{% for categoria in categoria %}
<div class="modal fade" id="modal-default{{categoria.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar categoria</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/actualizarcategoria/{{categoria.id}}" method="post">
        <div class="modal-body">
          <!-- Campo Divisa -->
          
          <!-- Campo Cantidad -->
          <div class="row mb-3">
            <div class="col-12">
              <label for="cantidad" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" name="nombre" value="{{categoria.nombre}}" required min="1">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <label for="descripcion" class="form-label">Descripcion</label>
              <input type="text" class="form-control" id="descripcion" name="descripcion" value="{{categoria.descripcion}}" required min="1">
            </div>
          </div>
          
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}