body {
    background: linear-gradient(135deg, #0f642e 25%, #087e04 100%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
}
.registro-contenedor {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(64, 245, 160, 0.2);
    max-width: 500px;
    width: 100%;
}
.registro-encabezado {
    background-color: #065322;
    color: white;
    padding: 30px 20px;
    text-align: center;
    position: relative;
}
.registro-encabezado h2 {
    margin: 0;
    font-size: 28px;
}
.registro-encabezado::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 20px solid #065322;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}
.registro-cuerpo {
    padding: 40px 30px;
}
.form-floating {
    margin-bottom: 20px;
}
.form-control {
    border-radius: 10px;
}
.btn-registro {
    background-color: #065322;
    border: none;
    border-radius: 10px;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
}
.btn-registro:hover {
    background-color: #62db81;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.iconos-financieros {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    font-size: 25px;
    color: #00a637;
}
.link-login {
    text-align: center;
    margin-top: 20px;
}
.link-login a {
    color: #1d5e2b;
    text-decoration: none;
    font-weight: bold;
}
.link-login a:hover {
    text-decoration: underline;
}
.fuerza-contraseña {
    height: 5px;
    margin-top: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}